[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
pillow = "*"
cython = "*"
pyifd = {git = "https://github.com/EldritchJS/pyIFD"}

[dev-packages]

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
